<div class="w3-container row">
  <!--<div class="well">-->
  <div id="maincard" class="w3-panel  w3-card-4 w3-centered" style="width: 60%">

    <div class="offset">
      <div class="row">
        <div class="offset-by-two eight columns">
          <button id="howto" class="btn-block w3-button w3-hover-green" ng-click="howTo()">How It Works!</button>
        </div>
        <div ng-show="showInput">
          <div>
            <!--<a class="no-style title" href="#/index"><img ng-src="/logo/pickUpLogo.png" alt="Pick-Up!" class="container"/></a></h2>-->
            <ul class="instructions offset-by-two eight columns">
              <li>1. Get your gear. </li>
              <li>2. Text 906-451-5063 </li>
              <li>3. Type in plain english the sport, time, and place you want to play. </li>
              <li>4. When enough players have joined the game in that area, a text will be sent! </li>
            </ul>
          </div>
        </div>
        <form ng-submit="requestGame()" ng-hide="showInput">
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="dateInput">Time</label>
              <select name="timeSelect" class="u-full-width" id="dateInput" ng-options="option.name for option in data.availableOptions track by option.id"
                ng-model="data.selectedOption">
      </select>
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="sportInput">Sport</label>
              <select class="u-full-width" id="sportInput" ng-model="sportInput" required>
        <option value="" >Pick A Sport!</option>
        <option value="soccer" >Soccer</option>
        <option value="basketball" >Basketball</option>
        <option value="baseball" >Baseball</option>
        <option value="football" >Football</option>
        <option value="volleyball" >Volleyball</option>
      </select>
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="exampleMessage">Address</label>
              <input type="tel" class="u-full-width" placeholder="Please give us the address with city and state." g-places-autocomplete
                id="address" ng-model="ngAddress" required />
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="exampleMessage">Phone Number</label>
              <input type="tel" class="u-full-width" id="lastInput" ui-mask="999-999-9999" placeholder="XXX-XXX-XXXX" ui-mask-placeholder-char="-"
                id="phone" ng-model="smsNum" required />
              <div id="submit">
                <input id="submitBtn" class="btn-block w3-large w3-hover-green" type="submit" value="Submit">
              </div>
            </div>
          </div>
          <!-- end of row  -->
        </form>
      </div>
    </div>
  </div>
</div>