<div class="w3-container row">
  <!--<div class="well">-->
  <div id="maincard" class="w3-panel  w3-card-4 w3-centered" style="width: 60%">

    <div class="offset">
      <div class="row">
        <div class="offset-by-two eight columns">
          <button id="howto" class="btn-block w3-button w3-hover-green" ng-click="howTo()">How It Works!</button>
        </div>
        <div ng-show="showInput">
          <div>
            <!--<div id="maincard" class="w3-panel  w3-card-4 w3-centered offset-by-two eight columns" >-->
              <p class="instructionsHead w3-panel  w3-card-4 w3-centered offset-by-one ten columns">
                Pick-up revolutionizes the way sports get played. No more long drawn out phone calls hoping the friend of a friend of a friend
                will show up, just simply type or text when you want to play and a nearby address and off you go. Pick-up
                links players with a central location insuring no player gets the long haul. No need for negotiation, you
                put the time you are available, it joins the group, you reap the benefits.
              </p>
            <!--</div>-->
            <ul class="instructions w3-panel w3-card-4 w3-centered offset-by-one ten columns">
              <li>1. Phone: Type in plain english- the sport, the time, and your location(city included). </li>
              <li>2. Text it 906-451-5063. </li>
              <li>3. When enough players have joined the game, a text will be sent with the most prime park location! </li>
              <li>4. Get you gear, get your sweat band and get on the road! </li>
              <li>note:(you can also input your request through this site, but who doesn't like getting texts') </li>
            </ul>
          </div>
        </div>
        <form ng-submit="requestGame()" ng-hide="showInput">
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="dateInput">Time</label>
              <select name="timeSelect" class="u-full-width" id="dateInput" ng-options="option.name for option in data.availableOptions track by option.id"
                ng-model="data.selectedOption">
      </select>
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="sportInput">Sport</label>
              <select class="u-full-width" id="sportInput" ng-model="sportInput" required>
        <option value="" >Pick A Sport!</option>
        <option value="soccer" >Soccer</option>
        <option value="basketball" >Basketball</option>
        <option value="baseball" >Baseball</option>
        <option value="football" >Football</option>
        <option value="volleyball" >Volleyball</option>
      </select>
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="exampleMessage">Address</label>
              <input type="tel" class="u-full-width" placeholder="Please give us the address with city and state." g-places-autocomplete
                id="address" ng-model="ngAddress" required />
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="exampleMessage">Phone Number</label>
              <input type="tel" class="u-full-width" id="lastInput" ui-mask="999-999-9999" placeholder="XXX-XXX-XXXX" ui-mask-placeholder-char="-"
                id="phone" ng-model="smsNum" required />
              <div id="submit">
                <input id="submitBtn" class="btn-block w3-large w3-hover-green" type="submit" value="Submit">
              </div>
            </div>
          </div>
          <!-- end of row  -->
        </form>
      </div>
    </div>
  </div>
</div>