<div class="w3-container row">
  <!--<div class="well">-->
  <div id="maincard" class="w3-panel  w3-card-4 w3-centered" style="width: 60%">

    <div class="offset">
      <div class="row">
        <div class="offset-by-two eight columns">
          <button id="howto" class="btn-block w3-button w3-hover-green" ng-click="howTo()">How It Works!</button>
        </div>
        <div ng-show="showInput">
          <div>
            <!--<div id="maincard" class="w3-panel  w3-card-4 w3-centered offset-by-two eight columns" >-->
              <p class="instructionsHead w3-panel  w3-card-4 w3-centered offset-by-one ten columns">
                Pick-up revolutionizes the way sports get played. No more long drawn out phone calls hoping the friend of a friend of a friend
                will show up, simply type or text us when you want to play and a nearby address and off you go. Pick-up
                links players with a central location ensuring no player gets the long haul. No need for negotiation, you
                put in a time when you are available, we put you in a group, you reap the benefits.
              </p>
            <!--</div>-->
            <ul class="instructions w3-panel w3-card-4 w3-centered offset-by-one ten columns">
              <li>Phone Instructions:
                <ol>
                  <li>Type in plain English: the sport, the time, and your location(city included). </li>
                  <li>Text it to 906-451-5063.</li>
                  <li>Wait for confirmation text messages that keep you in the know!</li>
                </ol>
              </li>
              <li>Web Instructions:
                <ol>
                  <li>Fill out the form on our splash page!</li>
                  <li>Get confirmed and added to the game queue.</li>
                  <li>Wait for confirmation text messages that keep you in the know!</li>
                </ol>
              </li>
            </ul>
          </div>
        </div>
        <form ng-submit="requestGame()" ng-hide="showInput">
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="dateInput">Time</label>
              <select name="timeSelect" class="u-full-width" id="dateInput" ng-options="option.name for option in data.availableOptions track by option.id"
                ng-model="data.selectedOption">
      </select>
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="sportInput">Sport</label>
              <select class="u-full-width" id="sportInput" ng-model="sportInput" required>
              <option value="default">Pick A Sport!</option>
              <option value="soccer" >Soccer</option>
              <option value="basketball" >Basketball</option>
              <option value="baseball" >Baseball</option>
              <option value="football" >Football</option>
              <option value="volleyball" >Volleyball</option>
            </select>
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="exampleMessage">Address</label>
              <input type="text" class="u-full-width" placeholder="Please give us the address with city and state." g-places-autocomplete
                id="address" ng-model="ngAddress" required />
            </div>
          </div>
          <!-- end of row  -->
          <div class="row">
            <div class="offset-by-two eight columns">
              <label for="exampleMessage">Phone Number</label>
              <input type="tel" class="u-full-width" id="lastInput" ui-mask="999-999-9999" placeholder="XXX-XXX-XXXX" ui-mask-placeholder-char="-"
                id="phone" ng-model="smsNum" required />
              <div id="submit">
                <input id="submitBtn" class="btn-block w3-large w3-hover-green" type="submit" value="Submit">
              </div>
            </div>
          </div>
          <!-- end of row  -->
        </form>
      </div>
    </div>
  </div>
</div>