body {
  margin: 0;
  padding: 0;
  text-align: center; 
}
.no-style {
  text-decoration: none;
  color: #333;
}

#pickupbutton {
    width: 50%;
}
.pickup {
width:50%;
}
#maincard {
    margin: auto;
    width: 50%;
    border: 1px solid lightgreen;
    border-radius: 7px;
    padding: 10px;
    /*background-color: rgba(106,234,106,.5);*/
     background:
    -webkit-linear-gradient(
        -90deg,
        rgba(255, 255, 255,1) 25%,
        rgba(5, 210, 5,.7) 100%
  );   
    /*padding-bottom:50px;*/
}
 #howto{
   background-color:rgba(0,255,133,1);
   font-size: 20px;
   font-style: italic;
   line-height: 20px;
   box-sizing: border-box;
 }
 #submitBtn {
    font-size: 20px;
   font-style: italic;
   line-height: 20px;
   box-sizing: border-box;
   background-color: rgba(0,255,133,1);
 }
 label {
   font-size: 20px;
   font-style: italic;
 }
 ul {
   text-align: left;
 }

body {
  background:url("/logo/grass-field-green-sky-horizon.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 75px;
}

.request {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 22px; 
}
submit{
  padding-top:20px;
}